body {
  margin: 0;
}
body .top .liberty {
  height: 80vh;
  width: 100vw;
  margin: 0%;
}
body .top .liberty img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 0;
}
body .top .liberty .nav-bar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
body .top .liberty .nav-bar .nav-left {
  margin-top: 40px;
  margin-right: 20px;
}
body .top .liberty .nav-bar .nav-left a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
body .top .liberty .nav-bar .nav-right {
  margin-top: 40px;
  margin-right: 10px;
}
body .top .liberty .nav-bar .nav-right a {
  text-decoration: none;
  color: white;
  padding: 12px;
}
body .top .liberty .nav-bar .nav-right button {
  color: white;
  background-color: rgb(214, 15, 115);
  font-size: 16px;
  border-radius: 30px;
  border: 10px solid rgb(214, 15, 115);
}
body .top .liberty .welcome-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
body .top .liberty .welcome-prompt h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
}
body .top .liberty .welcome-prompt h4 {
  font-size: 20px;
  font-family: "Playfair", serif;
  margin-top: -0.5%;
}
body .top .liberty .welcome-prompt button {
  color: white;
  background-color: rgb(214, 15, 115);
  font-size: 24px;
  border-radius: 10px;
  border: 10px solid rgb(214, 15, 115);
  margin-top: 2%;
}
body .shadow-box {
  background-color: white;
  margin: 0%;
  box-shadow: -1px 7px 20px 0px rgb(0, 0, 0);
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 2%;
  border-radius: 10px;
}
body .shadow-box h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
body .shadow-box .colors {
  display: flex;
}
body .shadow-box .colors .pink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
body .shadow-box .colors .pink p {
  font-size: 18px;
}
body .shadow-box .colors .blue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
body .shadow-box .colors .blue p {
  font-size: 18px;
}
body .shadow-box .colors .green {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
body .shadow-box .colors .green p {
  font-size: 18px;
}
body .shadow-box .scroll-window {
  display: flex;
  background-color: #302819;
  width: 94vw;
  height: 13vw;
  padding: 10px;
  background-image: url("newyorknight.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body .shadow-box .scroll-window img {
  width: 27vw;
  margin-top: 22px;
  height: 75%;
  margin-left: -10%;
}
body .shadow-box .scroll-window .written-word {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 25%;
  color: whitesmoke;
  margin-top: -4%;
}
body .shadow-box .scroll-window .written-word p {
  margin-top: -4%;
  width: 60%;
  margin-left: 20px;
}
body .shadow-box .title h1 {
  color: #3c4858;
  font-size: 44x;
}
body .shadow-box .blog {
  display: flex;
  height: 20vw;
  margin-top: 10px;
}
body .shadow-box .blog h5 {
  font-family: "Roboto", sans-serif;
}
body .shadow-box .blog .first {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 30vw;
  margin-left: 20%;
}
body .shadow-box .blog .first h3 {
  display: flex;
  flex-direction: row;
}
body .shadow-box .blog .first h5 {
  color: purple;
}
body .shadow-box .blog .second {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25px;
  width: 30vw;
}
body .shadow-box .blog .second h5 {
  color: lightskyblue;
}
body .shadow-box .blog .second p a {
  text-decoration: none;
}
body .shadow-box .blog .third {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 25%;
  margin-left: -20%;
  width: 30vw;
}
body .shadow-box .blog h5 {
  color: orangered;
}
body .shadow-box .bottom-scroll {
  background-image: url("newyorknight.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
}
body .shadow-box .bottom-scroll h3 {
  margin-left: 21%;
  margin-top: -3%;
}
body .shadow-box .bottom-scroll h5 {
  margin-left: 21%;
  margin-bottom: 4%;
}
body .shadow-box .bottom-scroll h1 {
  align-items: flex-start;
  margin-left: 19.9%;
  margin-top: 4%;
  margin-bottom: 5%;
}
body .bottom {
  background-color: #323437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: whitesmoke;
}
body .bottom .footer-left {
  margin: 2% 0 2% 22.5%;
}
body .bottom .footer-left a {
  padding: 4px;
  text-decoration: none;
  color: whitesmoke;
}
body .bottom .footer-right {
  margin-right: 20%;
}
body .bottom .footer-right a {
  text-decoration: none;
  color: whitesmoke;
}/*# sourceMappingURL=index.css.map */