body {
  background-color: #e5e5e5;
}
body .title-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  height: 7vh;
  width: 100vw;
  margin: -8px 0 0 -8px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
}
body .title-bar a {
  text-decoration: none;
  color: #3c4858;
}
body .title-bar .nav-left {
  margin-left: -15%;
}
body .title-bar .nav-right {
  margin-right: -12%;
}
body .title-bar .nav-right a {
  padding: 4px;
}
body .title-bar .nav-right button {
  color: white;
  background-color: #ea1e63;
  font-size: 16px;
  border-radius: 30px;
  border: 10px solid #ea1e63;
}
body .pink-box {
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(to right, #b32282, #e23671);
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
}
body .pink-box .top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
body .pink-box .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}
body .pink-box .bottom h1 {
  color: white;
  font-size: 44px;
}
body .pink-box .bottom p {
  color: white;
  margin-top: -14%;
}
body .pink-box .bottom p a {
  text-decoration: none;
  color: white;
}
body .shadow-box {
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: 80vh;
  box-shadow: -1px 7px 20px 0px rgb(0, 0, 0);
  margin-left: 1.5%;
  margin-top: -2%;
  border-radius: 10px;
  background-color: white;
  color: #3c4858;
  align-items: space-between;
}
body .shadow-box .boat img {
  margin: 5% 0 0 20%;
}
body .shadow-box .boat h5 {
  margin-left: 35%;
}
body .shadow-box .boat h4 {
  margin-left: 20%;
}
body .shadow-box .categories-bar p {
  margin-left: 20%;
}
body .shadow-box .categories-bar p button {
  background-color: #ea1e63;
  border-radius: 30px;
  color: white;
  border: 2px solid #ea1e63;
  font-size: 12px;
}
body .shadow-box .categories-bar p a {
  text-decoration: none;
  color: #ea1e63;
}
body .shadow-box .categories-bar .sneaky-link {
  margin: -30px 0 20px 65%;
}
body .shadow-box .categories-bar .sneaky-link i {
  font-size: 40px;
}
body .shadow-box .categories-bar hr {
  width: 52vw;
  margin-left: 20%;
}
body .bottom {
  font-family: "Roboto", sans-serif;
}
body .bottom h1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 30vh;
}
body .bottom h3 {
  color: #3d4859;
}
body .bottom p {
  color: #999999;
}
body .bottom p a {
  text-decoration: none;
  color: #24527d;
}
body .bottom .bottom-box {
  display: flex;
  justify-content: space-around;
  margin-top: -10%;
}
body .bottom .bottom-box .left-box {
  height: 10%;
  width: 25%;
  box-shadow: -1px 7px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
body .bottom .bottom-box .left-box .words {
  margin-left: 10%;
}
body .bottom .bottom-box .left-box .words h5 {
  color: #89229b;
}
body .bottom .bottom-box .middle-box {
  height: 10%;
  width: 25%;
  box-shadow: -1px 7px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 -20% 0 -20%;
}
body .bottom .bottom-box .middle-box .words {
  margin-left: 10%;
}
body .bottom .bottom-box .middle-box .words h5 {
  color: #01bcd5;
}
body .bottom .bottom-box .right-box {
  height: 30%;
  width: 25%;
  box-shadow: -1px 7px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
body .bottom .bottom-box .right-box .words {
  margin: 0 10% 0 10%;
  margin-left: 10%;
}
body .bottom .bottom-box .right-box .words h5 {
  color: #f54336;
}
body .footer {
  background-color: #323437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 10%;
  height: 12vh;
  width: 100vw;
}
body .footer .footer-left {
  margin: 2% 0 2% 12.5%;
}
body .footer .footer-left a {
  padding: 4px;
  text-decoration: none;
  color: whitesmoke;
}
body .footer .footer-right {
  margin-right: 12%;
}
body .footer .footer-right a {
  text-decoration: none;
  color: whitesmoke;
}/*# sourceMappingURL=words.css.map */